# Proyecto an치lisis de conversaci칩n de mensajer칤a

## Cargar datos
- Exportar una conversaci칩n personal o grupal de Whastapp o Telegram en un formato adecuado (JSON, CSV, etc), no exportar audios, archivos multimedia, etc
- Importar archivo y convertirlo en dataframe
- Obtener y graficar los siguientes datos. Elegir el gr치fico que mejor represente los datos

In [23]:
import json
import pandas as pd

with open('/home/daniel/Bases-de-datos-2/data/result2.json', 'r') as file:
    data = json.load(file)
df = pd.DataFrame(data["messages"])
df

,id,type,date,from,from_id,text,photo,width,height,file,...,media_type,mime_type,duration_seconds,actor,actor_id,action,members,inviter,edited,reply_to_message_id
0,1359,message,2020-11-01T14:09:24,Pablo Fracaro,user830260616,Y me esta trabando esto,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1360,message,2020-11-01T14:09:59,Andrea Navarro (juncotic.com),user23471390,Que error te da?,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1361,message,2020-11-01T14:10:23,Julian Ariel Campana,user925454557,d/M/y H:m,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1362,message,2020-11-01T14:10:28,Julian Ariel Campana,user925454557,Probalo as칤,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1363,message,2020-11-01T14:10:41,Julian Ariel Campana,user925454557,M치s gen칠rico,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,1632,message,2021-09-27T20:21:52,Gabriel Arenas 游뷣릖,user192620519,Les dejo los links a videos y material en PowerBi,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,1633,message,2021-09-27T20:22:06,Gabriel Arenas 游뷣릖,user192620519,"[El video que vimos: , {'type': 'link', 'text'...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,1634,message,2021-09-27T20:25:27,Gabriel Arenas 游뷣릖,user192620519,"[Este otro ejemplo del que les hable, panel d...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,1635,message,2021-09-27T20:29:53,Gabriel Arenas 游뷣릖,user192620519,"[En esta p치gina, encuentran datasets de difer...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,1644,message,2021-09-27T23:31:26,Gabriel Arenas 游뷣릖,user192620519,"Chicos, ya est치 en la c치tedra virtual, el tr...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Cantidad de mensajes enviados por cada usuario

In [5]:

# agrupado por nombre de usuario
"""df[df['usuario'] == 'from'].groupby('from').agg(
    Especificar nombre de columnas de agregaci칩n
    total_mensajes=('from', "count"),   
    max_quantiy=('quantity', "max"),  
    most_common_card=("card", lambda x: x.mode())    
)"""

groups = ['from']

df.groupby( groups, as_index=False).agg(mensajes = ('text', 'count'))


#df.groupby('from')[['id']].count()

                             from  mensajes
0   Andrea Navarro (juncotic.com)        11
1                         Arian M         8
2                    Bruno Romero         1
3                  Daiana Ascurra         2
4                    Daniel Beato         2
5                  Danilo Cerna 2         1
6                Delfina Quintero         2
7                         Douglas         2
8                  Emiliano Mu침oz         3
9                  Enzo Fernandez         1
10                        Esteban         4
11                      Facu Luna         1
12                     Fede Pardo         4
13              Gabriel Almonacid         2
14              Gabriel Arenas 游뷣릖        34
15            Giancarlo Galvarini         2
16                     Jonatankon         5
17                     Jose Rutti         1
18              Juan Pablo Garcia         1
19           Julian Ariel Campana         6
20                         Juli치n         2
21                 Lautaro (Facu)         3
22                  Lucas Galdame         6
23                  Lucas Ollarce         1
24           Marcos Adri치n Rugoso         3
25                         Matias         1
26                    Matias Ruiz        10
27               Nicol치s Olivares         1
28                 Ornella Grasso         9
29                  Pablo Fracaro        18
30      Ramiro Alberto Giandinoto         5
31                   Santi Moyano         2
32              Santiago Martinez         2
33                 Santiago Riera         2
34                           Yago         3
35                           Yoel         1
36                         seba F         2

### Promedio de palabras utilizadas por mensaje por cada usuario

In [12]:
# columna con promedio de palabras de cada mensaje

# agrupamiento por usuario y cantidad de palabras


df['total_words'] = [len(str(x).split(" ")) for x in df['text']]
df.groupby(['from'])[['total_words']].mean()

                               total_words
from
Andrea Navarro (juncotic.com)    11.363636
Arian M                           4.250000
Bruno Romero                      4.000000
Daiana Ascurra                    8.500000
Daniel Beato                      3.000000
Danilo Cerna 2                    8.000000
Delfina Quintero                  7.000000
Douglas                           4.500000
Emiliano Mu침oz                    6.333333
Enzo Fernandez                    4.000000
Esteban                           8.000000
Facu Luna                         4.000000
Fede Pardo                        2.250000
Gabriel Almonacid                 9.000000
Gabriel Arenas 游뷣릖                19.529412
Giancarlo Galvarini               2.500000
Jonatankon                        5.000000
Jose Rutti                        4.000000
Juan Pablo Garcia                 7.000000
Julian Ariel Campana              4.333333
Juli치n                            5.000000
Lautaro (Facu)                    5.000000
Lucas Galdame                     4.166667
Lucas Ollarce                     4.000000
Marcos Adri치n Rugoso              5.666667
Matias                            4.000000
Matias Ruiz                      16.300000
Nicol치s Olivares                  4.000000
Ornella Grasso                    6.777778
Pablo Fracaro                     9.611111
Ramiro Alberto Giandinoto         4.400000
Santi Moyano                      4.500000
Santiago Martinez                 2.500000
Santiago Riera                    7.500000
Yago                              3.000000
Yoel                              1.000000
seba F                            7.500000

### Porcentaje de mensajes enviados por cada usuario

In [18]:
total_messages = df['id'].count()
df.groupby(
   ['from'],
    as_index=False 
).agg(average=('id',lambda x: (x.count()/total_messages)*100) )

                             from    average
0   Andrea Navarro (juncotic.com)   5.851064
1                         Arian M   4.255319
2                    Bruno Romero   0.531915
3                  Daiana Ascurra   1.063830
4                    Daniel Beato   1.063830
5                  Danilo Cerna 2   0.531915
6                Delfina Quintero   1.063830
7                         Douglas   1.063830
8                  Emiliano Mu침oz   1.595745
9                  Enzo Fernandez   0.531915
10                        Esteban   2.127660
11                      Facu Luna   0.531915
12                     Fede Pardo   2.127660
13              Gabriel Almonacid   1.063830
14              Gabriel Arenas 游뷣릖  18.085106
15            Giancarlo Galvarini   1.063830
16                     Jonatankon   2.659574
17                     Jose Rutti   0.531915
18              Juan Pablo Garcia   0.531915
19           Julian Ariel Campana   3.191489
20                         Juli치n   1.063830
21                 Lautaro (Facu)   1.595745
22                  Lucas Galdame   3.191489
23                  Lucas Ollarce   0.531915
24           Marcos Adri치n Rugoso   1.595745
25                         Matias   0.531915
26                    Matias Ruiz   5.319149
27               Nicol치s Olivares   0.531915
28                 Ornella Grasso   4.787234
29                  Pablo Fracaro   9.574468
30      Ramiro Alberto Giandinoto   2.659574
31                   Santi Moyano   1.063830
32              Santiago Martinez   1.063830
33                 Santiago Riera   1.063830
34                           Yago   1.595745
35                           Yoel   0.531915
36                         seba F   1.063830

### Frecuencia de env칤o de mensaje dependiendo la hora del d칤a

### Frecuencia de env칤o de mensaje dependiendo del d칤a de la semana

### Hora del d칤a preferida por cada usuario para enviar mensajes

### D칤a de la semana preferida por cada usuario para enviar mensajes

### Cantidad promedio de mensajes enviados por hora para cada usuario

### Cantidad de usuarios promedio que env칤an mensaje por cada d칤a de la semana

### Cantidad de mensajes env칤ados por mes

### Cantidad m칤nima, m치xima y promedio de palabras por mensaje